  <div class="dashboard-wrapper" *ngIf="presentDay && tillDate && monthAvg">
    <!-- <div class="flex-grid">

      <mat-card class="page-content margin-btm">
        <app-chart-donut [chartData]="presentDay">
        </app-chart-donut>
      </mat-card>

      <mat-card class="page-content margin-btm">
        <app-chart-donut [chartData]="tillDate">
        </app-chart-donut>
      </mat-card>

    </div> -->


    <div class="location-box">
      <mat-form-field>
        <mat-select [(value)]="location" (selectionChange)="locationUpdate($event)">
          <mat-option value="Belagavi" disabled>Belagavi</mat-option>
          <mat-option value="dharwad">Dharwad</mat-option>
          <mat-option value="davanagere">Davanagere</mat-option>
          <mat-option value="Gadag" disabled>Gadag</mat-option>
          <mat-option value="vijayapura" disabled>vijayapura</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex-grid">
      <div>
        <mat-card class="page-content margin-btm">

          <app-chart-donut [chartData]="presentDay">
          </app-chart-donut>
        </mat-card>

      </div>
      <div>
        <mat-card class="page-content margin-btm">

          <app-chart-donut [chartData]="tillDate">
          </app-chart-donut>
        </mat-card>

      </div>
    </div>
    <mat-card class="page-content margin-btm">
      <app-chart-line [chartData]="monthAvg">
      </app-chart-line>
    </mat-card>

  </div>
