.toolbar {
  position: fixed;
  background-color: var(--theme-toolbar-color);
  color: #fff;
  font-size: 1.2rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .24),
    0 0 2px rgba(0, 0, 0, .12);
  z-index: 10;
  top: 0;
}
