    <mat-drawer-container class="drawer-container" autosize>
      <mat-drawer #drawer class="drawer-sidenav" mode="side">
        <!-- <p>Auto-resizing sidenav</p>
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
          Toggle extra text
        </button> -->
      </mat-drawer>

      <div class="drawer-sidenav-content">
        <app-navbar></app-navbar>
        <div class="component-wrapper">

          <router-outlet></router-outlet>
        </div>
        <!-- <button type="button" mat-button (click)="drawer.toggle()">
          Toggle sidenav
        </button> -->
      </div>

    </mat-drawer-container>
