/* You can add global styles to this file, and also import other style files */
@charset "UTF-8";

@font-face {
  font-family: Roboto-Light;
  src: url(./assets/fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(./assets/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(./assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

:root {
  --theme-color-primary: #f97c00;
  --theme-sidebar-color: #263238;
  --theme-toolbar-color: #3f51b5;
  --theme-sidebar-text: #a9aaaa;
  --text-color-heading: #37474f;
  --text-color-body: #535b64;
  --error-color: #f44336;
  --theme-font-light: Roboto-Light;
  --theme-font-regular: Roboto-Regular;
  --theme-font-medium: Roboto-Medium;
  --theme-font-bold: Roboto-Bold;
  --side-menu-width: 240px;
  --top-nav-height: 57px;
}

html,
body {
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
  width: 100%;
  font-family: Roboto-Regular;
  color: var(--text-color-body);
  background-color: #ededed;
  z-index: -2;
  position: relative;
}

.width-full {
  width: 100% !important;
}

.height-full {
  height: 100% !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: 576px) {
  .flex-grid {
    display: flex;
    max-width: 100%;
    margin: 16PX 0;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .component-wrapper {
    margin: 68px 16px 8px;
  }

  .mat-form-field {
    width: 142px !important;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .flex-grid {
    display: flex;
    max-width: 100%;
    margin: 16PX 0;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .mat-form-field {
    width: 142px !important;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .flex-grid {
    display: flex;
    max-width: 100%;
    margin: 16PX 0;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .component-wrapper {
    margin: 80px 16px 8px;
  }
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
